<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="1" parallel="tests"
       data-provider-thread-count="1" group-by-instances="true">
    <suite-files>
        <suite-file path="TestRunner/KoanbaNormalFlow.xml"></suite-file>
        <suite-file path="TestRunner/Koanba/KoanbaSpecialCases.xml"></suite-file>
        <suite-file path="TestRunner/Koanba/KoanbaNegativeFlow1.xml"></suite-file>
        <suite-file path="TestRunner/Koanba/KoanbaNegativeFlow2.xml"></suite-file>
        <suite-file path="TestRunner/Koanba/KoanbaNegativeFlow3.xml"></suite-file>
        <suite-file path="TestRunner/Koanba/KoanbaAnotherCase.xml"></suite-file>
    </suite-files>
</suite>